{% extends 'base.html' %}

{% block content %}



<div class="flex justify-center flex-col justify-center items-center">
    <div class="flex max-w-screen-md  flex-col  justify-center bg-white p-10  rounded-lg shadow-md">

        <!-- Recipe name -->
        <div class="flex justify-between items-center mb-10 w-full">
            <div class="flex-grow text-center">
                <h2 class="text-3xl font-bold text-gray-900">{{ recipe.name }}</h2>
            </div>

            <!-- Add to Favorites Button, align to the right -->
        <form class="flex-end" method="post" action="{% if is_favorite %}{% url 'recipe:remove_from_favorites' recipe.id %}{% else %}{% url 'recipe:add_to_favorites' recipe.id %}{% endif %}">
            {% csrf_token %}
            <button type="submit" class="bg-transparent border-none" title="{% if is_favorite %}Remove from favorites{% else %}Add to favorites{% endif %}">
                {% if is_favorite %}
                    <!-- Full heart for favorited recipe -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-red-500 hover:text-red-700" fill="currentColor" viewBox="0 0 24 24"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>
                {% else %}
                    <!-- Empty heart for non-favorited recipe -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-red-500 hover:text-red-700" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/></svg>
                {% endif %}
            </button>
        </form>

        </div>


        <!-- Recipe details -->
        <div class="flex flex-col ">
            <div class="flex justify-center">
                <div class="w-full h-full max-w-md bg-white rounded-lg  bg-gray-900 text-gray-50  border-4 border-gray-900 ">
                    <img src="{{recipe.image.url}}" alt="Image" class="object-cover object-center w-full h-full">
                </div>
            </div>

            <div class=" w-full recipe-item mt-4 m-2">
                <p class="text-lg text-gray-700 mb-1"><strong>Category:</strong> {{ recipe.category.name }}</p>
                <p class="text-lg text-gray-700 mb-1 whitespace-normal overflow-wrap break-words"><strong>Short Description:</strong> {{ recipe.short_description }}</p>
                <p class="text-lg text-gray-700 mb-1"><strong>Author:</strong> {{ recipe.author.username }}</p>
                <p class="text-lg text-gray-700 mb-1"><strong>Creation Date:</strong> {{ recipe.creation_date }}</p>
            </div>

            
        </div>

         <!-- Ingredients and preparation steps -->
        <div class="">
            <h2 class="text-xl font-semibold m-2">Ingredients:</h2>
            <ul class="list-disc list-inside m-2">
                {% for ingredient in recipe.ingredient_list %}
                    <li class="text-lg">{{ ingredient }}</li>
                {% endfor %}
            </ul>
            <h2 class="text-xl font-semibold m-2">Preparation Steps:</h2>
            <ul class="list-disc list-inside m-2">
                {% for step in recipe.step_list %}
                    <li class="text-lg">{{ step }}</li>
                {% endfor %}
            </ul>
        </div>
    

          

    </div>

     <!-- Buttons to edit or remove the recipes -->
    <div class="mt-6 flex flex-row text-center ">
    {% if request.user == recipe.author %}
        <a href="{% url 'recipe:edit' recipe.id %}" class="w-28 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
          Edit
        </a>
        <a href="{% url 'recipe:delete' recipe.id %}" class="w-28 ml-2 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 border border-red-700 rounded">
          Delete
        </a>
    {% endif %}
</div>

</div>
  
  
{% endblock %}
